*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas;
  outline: none;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-color: #095256;
}

.calculator{
  width: 400px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #7768AE;
  box-shadow: #1f1d2f56 5px 8px 5px 3px,
              #253848 -7px -7px 8px 6px;
}

#previousDisplay,
#currentDisplay{
  padding: 0.3em;
}

#previousDisplay{
  font-size: 1.5em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  margin-top: 15px;
  color: #337535;
  background-color: rgba(250, 235, 215, 0.61);
}

#currentDisplay{
  text-align: right;
  font-size: 2.6em;
  font-weight: 500;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  color: #5166d6;
  background-color: #c6c0c0cd;
}

.calculator .buttons{
  margin-top: 15px;
  margin-bottom: 10px;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  display: grid;
}

.calculator .buttons button{
  cursor: pointer;
  font-size: 1.3em;
  padding: 10px;
  margin: 6px;
  background-color: #ddc3e4;
  color: #504e4e;
  border: 2px solid #575a5d;
  border-radius: 15px;
}

/*Buttons Color*/
.calculator .buttons button#clear{
  grid-column: span 2;
  background: #f44336;
  color: #fff;
  border: 2px solid #edf1f4;
}

.calculator .buttons button#del{
  background: #31a935;
  color: #fff;
  border: 2px solid #edf1f4;
}

.calculator .buttons button#equal{
  grid-column: span 2;
  background: #2196f3;
  color: #fff;
  border: 2px solid #edf1f4;
}

.calculator .buttons button.operator{
  background: #e1da12;
  color: #6d5f5f;
  border: 2px solid #edf1f4;
}